/* Navbar styling */
nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 60px;
    position: relative;
    z-index: 10;
    border-bottom: 1px solid #2c2c2c;
    /* border: 2px solid red; */
}

.nav-links a {
    color: #888;  
    text-decoration: none;
    margin-left: 25px;
    font-size: 14px;
    font-weight: 500;
    transition: color 0.3s ease;
    /* border: 2px solid red; */
}

.nav-links a:hover {
    color: #fff;
} 
/* sacnjsncajcjisn */
