* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #121212; /* dark grey */
    color: #e5e7eb;
}

/* Main container */
.container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 10px;
    /* border: 2px solid red; */
}

.container h2 {
    font-size: 40px;
    text-align: center;
    color: #c084fc;
    margin-top: -20px;
}

.container p {
    color: #94a3b8;
    margin-bottom: 30px;
    text-align: center;
}

/* Controls Section */
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #1a1a1a9e; /* #1a1a1a9e */
    border: 1px solid #2c2c2c;
    border-radius: 10px;

    padding: 16px 20px;
    margin-bottom: 30px;
}

/* Algoritm box */
select {
    background: #2a2a2a9a;
    color: #e5e7eb;
    border: 1px solid #2c2c2c;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

/* Start button */
.primary {
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    font-weight: 600;
    background-color: #3b82f6;
    color: white;
}

.primary:hover {
    background-color: #2563eb;
}

/* Reset button */
.secondary {
    background-color: #222222;
    color: #e5e7eb;
    border: 1px solid #2c2c2c;
}

.secondary:hover {
    background-color: #71686846;
}

/* Array bars border */
#array {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 375px;              
    gap: 4px;
    padding: 10px;
    background-color: #1a1a1a9e;
    border: 1px solid #2c2c2c;
    border-radius: 8px;
    /* border: 2px solid red */
}

/* Array Bars */
.bar {
    width: 18px;                
    background-color: #3b82f6;  
    border-radius: 2px;
    will-change: height;
    
}

.slider-label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: #94a3b8;
    font-size: 13px;
    font-weight: 600;
}

input[type="range"] {
    accent-color: #3b82f6;
    cursor: pointer;
}

button.primary,
button.secondary {
  height: 40px;          /* fixed height */
  padding: 0 16px;       /* horizontal padding only */
  font-size: 14px;
  border-radius: 8px;
  box-sizing: border-box;
} 

/* Div box (Algorithm, speed, size) */
.controls-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Start and reset buttom */
.controls-right {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* Size Button */
.label-row {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #94a3b8;
    font-size: 13px;
    font-weight: 600;
}

/* Metrics (Comparisons, Swaps, Time) */
.metrics {
    display: flex;
    gap: 20px;              
    margin-top: -10px;
    color: #94a3b8;
    font-size: 14px;
    /* border: 2px solid yellow; */
}

